!*/

.vscode
/env.yaml
/config.yaml
/node_modules
asd
/application/logs/**
/application/libraries/composerlib/vendor

/www/robots.txt
/www/view/node_modules
/www/view/npm-debug.log*
/www/view/yarn-debug.log*
/www/view/yarn-error.log*ggg

/http-gateway/main
/ssh-gateway/shell/main

/misc/modify_authorized_keys.pid
/misc/modify_authorized_keys.child.pipe
/misc/modify_authorized_keys.master.pipe
asd
/file-storage/**
/git-storage/**
!/git-storage/hooksasdasd
